body{
	/*margin: 0 auto;*/
	background-color: #B7D6EC;
	text-align: center;
	/*align-items: center;*/
}

body #logindiv{
	margin: 20px;
}

body table{
	margin: 0 auto;
	text-align: left;
}

body #loginSubmit{
	margin-top: 20px;
}

footer{
	text-align: left;
	color: grey;
}

.cards{
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: space-around;
}