body{
	/*width: 50%;*/
	margin: 0 auto;
	background-color: #B7D6EC;
	text-align: center;
	align-items: center;
}

body .output{
	border: solid 1px black;
	border-radius: 10px;
	padding: 20px;
	margin: 20px;
}

body #logindiv{
	margin:20px;
}

body table{
	margin: 0 auto;
	text-align: left;
}

body #loginSubmit{
	margin-top: 20px;
}

footer{
	text-align: left;
	color: grey;
}