body{
	/*width: 50%;*/
	margin: 0 auto;
	background-color: #B7D6EC;
	text-align: center;
	align-items: center;
}

body #logindiv{
	margin:20px;
}

body table{
	margin: 0 auto;
	text-align: left;
}

body #loginSubmit{
	margin-top: 20px;
}

footer{
	text-align: left;
	color: grey;
}

.item-container{
	width: 500px;
	justify-content: center;
	margin: 0 auto;
}